@model IEnumerable<MangaList.Models.Elements>


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Authorization</title>
</head>
<body> 
    <div>
        <h1>FIRST PAGE</h1>
    </div>
    @foreach (var foo in Model)
    {

        <h2>Логин: @foo.login</h2>
        <h2>Пароль: @foo.password</h2>

        @Html.ActionLink("Ссылка на страницу Started List", "Started_List", "Home");
        <hr />
        @Html.ActionLink("Ссылка на страницу Finished List", "Finished_List", "Home");
        <hr />

    }

</body>
</html>
