@model IEnumerable<MangaList.Models.Elements>


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        FIRST PAGE BITCHESSSSS
    </div>
    @foreach (var dick in Model)
    {

        <h3>Логин: @dick.login</h3>
        <h2>Пароль: @dick.password</h2>
        <a href="/Home/Index" shape="rect" target="_self"  >Ссылка на страницу Index</a>
        @: xyi
        <hr />
    }
</body>
</html>
