@model IEnumerable<MangaList.Models.Elements>


@{
    ViewBag.Title = "Started list";
}
    <br />
    <div><h1> All Started Manga</h1>
    </div>
    @foreach (var foo in Model)
    {
        <h3>Логин: @foo.login</h3>
        <h3>Пароль: @foo.password</h3>
        <hr />
        @Html.ActionLink("Ссылка на страницу Finished List", "Finished_List", "Home");
    }

